.rockstyling {
    width: 150px;
    height: 150px;
    background-image: url("rock.png");
}

.paperstyling {
    width: 150px;
    height: 150px;
    background-image: url("paper.png");
}

.scissorsstyling {
    width: 150px;
    height: 150px;
    background-image: url("scissor.png");
}

.stickybottom {
    position: fixed;
    bottom: 0;
    left: 0;
}