body {
    overflow-x: hidden;
}

.rockstyling {
    width: 200px;
    height: 200px;
}

.paperstyling {
    width: 200px;
    height: 200px;
}

.scissorsstyling {
    width: 200px;
    height: 200px;
}

.userimg {
    border: 2px solid black;
}

.compimg {
    border: 2px solid black;
}

.welcome {
    background-color: ;
}